@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon.eot?q8k2pc');
  src:  url('./../fonts/icomoon.eot?q8k2pc#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?q8k2pc') format('truetype'),
    url('./../fonts/icomoon.woff?q8k2pc') format('woff'),
    url('./../fonts/icomoon.svg?q8k2pc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete_fill:before {
  content: "\e98a";
}
.icon-packup:before {
  content: "\e98b";
}
.icon-unfold:before {
  content: "\e98c";
}
.icon-cainixihuan:before {
  content: "\e900";
}
.icon-chalvzhengce .path1:before {
  content: "\e901";
  color: rgb(65, 156, 191);
}
.icon-chalvzhengce .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chaodaping:before {
  content: "\e903";
}
.icon-chengjiu .path1:before {
  content: "\e904";
  color: rgb(255, 177, 3);
}
.icon-chengjiu .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(227, 88, 63);
}
.icon-daifukuan:before {
  content: "\e906";
}
.icon-daiji:before {
  content: "\e907";
}
.icon-daipingjia:before {
  content: "\e908";
}
.icon-daishouhuo:before {
  content: "\e909";
}
.icon-dianshi:before {
  content: "\e90a";
}
.icon-dianzan:before {
  content: "\e90b";
}
.icon-dianzan1:before {
  content: "\e90c";
}
.icon-f:before {
  content: "\e90d";
}
.icon-faxian:before {
  content: "\e90e";
}
.icon-faxian2:before {
  content: "\e90f";
}
.icon-fenlei:before {
  content: "\e910";
}
.icon-fenqizhifu:before {
  content: "\e911";
}
.icon-fufei:before {
  content: "\e912";
}
.icon-fuwuwangdian .path1:before {
  content: "\e913";
  color: rgb(248, 116, 95);
}
.icon-fuwuwangdian .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(248, 116, 95);
}
.icon-fuwuwangdian .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(248, 116, 95);
}
.icon-fuwuwangdian .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-fuwuwangdian .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gengduo:before {
  content: "\e918";
  color: #9bcb35;
}
.icon-gouwuche:before {
  content: "\e919";
}
.icon-guzhangpaichu:before {
  content: "\e91a";
}
.icon-haoyou:before {
  content: "\e91b";
}
.icon-hezuo:before {
  content: "\e91c";
  color: #0179c0;
}
.icon-huanxin:before {
  content: "\e91d";
}
.icon-huidaodingbu:before {
  content: "\e91e";
}
.icon-huiyuanma:before {
  content: "\e91f";
}
.icon-jifen:before {
  content: "\e920";
}
.icon-jilizhengce .path1:before {
  content: "\e921";
  color: rgb(245, 105, 35);
}
.icon-jilizhengce .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-kefu1:before {
  content: "\e923";
}
.icon-konggouwuche:before {
  content: "\e924";
}
.icon-lipinka:before {
  content: "\e925";
}
.icon-lipinqia:before {
  content: "\e926";
}
.icon-list:before {
  content: "\e927";
}
.icon-mifenka:before {
  content: "\e928";
}
.icon-neicun:before {
  content: "\e929";
}
.icon-neicun1:before {
  content: "\e92a";
}
.icon-pinglun:before {
  content: "\e92b";
}
.icon-pinglun1:before {
  content: "\e92c";
}
.icon-play_fill:before {
  content: "\e92d";
}
.icon-qian1:before {
  content: "\e92e";
}
.icon-qianbao1:before {
  content: "\e92f";
}
.icon-qianbao2:before {
  content: "\e930";
}
.icon-saoyisao:before {
  content: "\e931";
}
.icon-shangdian1:before {
  content: "\e932";
}
.icon-shangdianxuanzhong:before {
  content: "\e933";
}
.icon-shangou:before {
  content: "\e934";
}
.icon-shangou1:before {
  content: "\e935";
}
.icon-shezhi:before {
  content: "\e936";
}
.icon-shezhi1:before {
  content: "\e937";
}
.icon-shijian:before {
  content: "\e938";
}
.icon-shouhoufuwu .path1:before {
  content: "\e939";
  color: rgb(94, 201, 124);
}
.icon-shouhoufuwu .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shouye:before {
  content: "\e93b";
}
.icon-shuangshe:before {
  content: "\e93c";
}
.icon-shuaxin:before {
  content: "\e93d";
}
.icon-sousuo:before {
  content: "\e93e";
}
.icon-tehuizhengce:before {
  content: "\e93f";
}
.icon-temai:before {
  content: "\e940";
}
.icon-vip .path1:before {
  content: "\e941";
  color: rgb(255, 243, 127);
}
.icon-vip .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(249, 136, 33);
}
.icon-wancheng:before {
  content: "\e943";
}
.icon-wangluo:before {
  content: "\e944";
}
.icon-weixiu:before {
  content: "\e945";
}
.icon-weixiujiage .path1:before {
  content: "\e946";
  color: rgb(255, 206, 55);
}
.icon-weixiujiage .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 207, 58);
}
.icon-weixiujiage .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 210, 66);
}
.icon-weixiujiage .path4:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 214, 75);
}
.icon-weixiujiage .path5:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 215, 77);
}
.icon-weixiujiage .path6:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 216, 80);
}
.icon-weixiujiage .path7:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 217, 84);
}
.icon-weixiujiage .path8:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 204, 51);
}
.icon-weixiujiage .path9:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 205, 52);
}
.icon-weixiujiage .path10:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 205, 53);
}
.icon-weixiujiage .path11:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 206, 54);
}
.icon-weixiujiage .path12:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 206, 56);
}
.icon-weixiujiage .path13:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 207, 57);
}
.icon-weixiujiage .path14:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 208, 59);
}
.icon-weixiujiage .path15:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 208, 60);
}
.icon-weixiujiage .path16:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 208, 61);
}
.icon-weixiujiage .path17:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 209, 62);
}
.icon-weixiujiage .path18:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 209, 63);
}
.icon-weixiujiage .path19:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 210, 64);
}
.icon-weixiujiage .path20:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 210, 65);
}
.icon-weixiujiage .path21:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 211, 67);
}
.icon-weixiujiage .path22:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 211, 68);
}
.icon-weixiujiage .path23:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 212, 70);
}
.icon-weixiujiage .path24:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 212, 71);
}
.icon-weixiujiage .path25:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 213, 72);
}
.icon-weixiujiage .path26:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 213, 73);
}
.icon-weixiujiage .path27:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 213, 74);
}
.icon-weixiujiage .path28:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 214, 76);
}
.icon-weixiujiage .path29:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 215, 78);
}
.icon-weixiujiage .path30:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 215, 79);
}
.icon-weixiujiage .path31:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 216, 81);
}
.icon-weixiujiage .path32:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 217, 82);
}
.icon-weixiujiage .path33:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 217, 83);
}
.icon-weixiujiage .path34:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 218, 85);
}
.icon-weixiujiage .path35:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 218, 86);
}
.icon-weixiujiage .path36:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 219, 87);
}
.icon-weixiujiage .path37:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 219, 88);
}
.icon-weixiujiage .path38:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-wode:before {
  content: "\e96c";
}
.icon-xiangyao:before {
  content: "\e96d";
}
.icon-xiaolian:before {
  content: "\e96e";
}
.icon-xihuan:before {
  content: "\e96f";
}
.icon-xihuan_1:before {
  content: "\e970";
}
.icon-ximing:before {
  content: "\e971";
}
.icon-yijiuhuanxin:before {
  content: "\e972";
}
.icon-you:before {
  content: "\e973";
}
.icon-youhuiquan1:before {
  content: "\e974";
}
.icon-youxuan .path1:before {
  content: "\e975";
  color: rgb(255, 102, 51);
}
.icon-youxuan .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 217, 0);
}
.icon-yuanbao2:before {
  content: "\e977";
}
.icon-zhengce:before {
  content: "\e978";
}
.icon-zhengcefagui .path1:before {
  content: "\e979";
  color: rgb(245, 162, 55);
}
.icon-zhengcefagui .path2:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zhengcefagui .path3:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zhengcefagui1 .path1:before {
  content: "\e97c";
  color: rgb(229, 133, 43);
}
.icon-zhengcefagui1 .path2:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zhenwei .path1:before {
  content: "\e97e";
  color: rgb(86, 180, 50);
}
.icon-zhenwei .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zhenwei .path3:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ziyuan1 .path1:before {
  content: "\e981";
  color: rgb(227, 243, 247);
}
.icon-ziyuan1 .path2:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(238, 181, 201);
}
.icon-ziyuan1 .path3:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(240, 213, 94);
}
.icon-ziyuan1 .path4:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(246, 205, 205);
}
.icon-ziyuan1 .path5:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(58, 58, 58);
}
.icon-ziyuan1 .path6:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(58, 58, 58);
}
.icon-zu .path1:before {
  content: "\e987";
  color: rgb(237, 239, 246);
}
.icon-zu .path2:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(161, 168, 197);
}
.icon-zuo:before {
  content: "\e989";
}
